{% extends "base.html" %}

{% block title %}昨日头条{% endblock %}

{% block body %}
{% autoescape false %}
<script>
    var jump = "{{jump}}"
</script>
{% endautoescape %}
    <div class="indexWrapper">
        <nav class="top-nav">
            <div class="nav-wrapper container">
                <a class="page-title" href="/">
                    <span>昨日头条</span>
                    {% if from %}
                    {% autoescape false %}
                    <span>欢迎来自{{from}}的朋友</span>
                    {% endautoescape %}
                    {% endif %}
                </a>
            </div>
        </nav>
        <div class="container">
            <div class="row section indexBody">
                <div class="col s8">
                    <a href="#">
                        <img class="responsive-img cover" src="http://t2.hddhhn.com/uploads/tu/201612/98/st93.png"/>
                    </a>
                    <ul class="section">
                        {% for post in posts %}
                        <li class="postWrapper">
                            <div class="row">
                                <div class="col s4">
                                    <img class="responsive-img" src="{{post.imgUrl}}"/>
                                </div>
                                <div class="col s8">
                                    <h5><a href="/post/detail?id={{post.id}}">{{post.title}}</a></h5>
                                    <div class="info">
                                        <span>搞笑新闻</span>
                                        <span>评论</span>
                                        <span>2018-08-09</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col s4">
                    <h5 class="commentTitle"></h5>
                    <ul class="section commentWrapper">
                        {% for comment in comments %}
                        <li>
                            <div class="nick">
                                {{comment.username}} {{comment.createdAt}}
                            </div>
                            <div class="commentContent">
                                {{comment.content}}
                            </div>
                            <div class="info">
                                <a href="/post/">{{comment.postTitle}}</a>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
<!--<script type="text/javascript" nonce="123456">-->
    <!--console.log(123456)-->
<!--</script>-->
{% endblock %}
