{% extends "base.html" %}

{% block title %}昨日头条{% endblock %}

{% block body %}
    <div class="indexWrapper">
        <nav class="top-nav">
        <div class="nav-wrapper container">
            <a class="page-title" href="/">
                <span>昨日头条</span>
            </a>
        </div>
        </nav>
        <div class="container">
            <div class="row section">
                <div class="col s12">
                    <div class="commentWrapper">
                        <ul>
                            <li class="card lighten-5">
                                <form name="postForm" id="postForm" data-action="/post/add">
                                    <input name="title" placeholder="标题"/>
                                    <input name="imgUrl" placeholder="头图"/>
                                    <div class="input-field">
                                        <textarea placeholder="内容" name="content" class="materialize-textarea"></textarea>
                                    </div>
                                    <!--<div class="input-field">-->
                                        <div id="post-btn" class="btn waves-effect waves-light">发表</div>
                                    <!--</div>-->
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script type="text/javascript">
    $("#post-btn").click(function () {
        var data = $('#postForm').serialize();
        console.log(data)
        jQuery.ajax({
            type:'post',
            url:'/post/add',
            data:data,
            success:function(data){
                alert(data)
            },
            error:function(){
                console.log('请求失败')
            }
        });
    });
</script>
{% endblock %}

