{% extends "base.html" %}

{% block title %}昨日头条{% endblock %}



{% block body %}
{% autoescape false %}
<script>
     var worm = "{{worm}}";
</script>
{% endautoescape %}
<div class="indexWrapper">
    <nav class="top-nav">
        <div class="nav-wrapper container">
            <a class="page-title" href="/">
                <span>昨日头条-名人堂</span>
            </a>
        </div>
    </nav>
    <div class="container">
        {% autoescape false %}
        <h1>来自{{worm}}的朋友</h1>
        {% endautoescape %}
    </div>
</div>
<script type="text/javascript">
    console.log("自己的脚本")
</script>

{% endblock %}

